<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="youtube:tab:show" type="SharedSource.YouTubeUpload.Commands.YouTubeButtons,SharedSource.YouTubeUpload" />
        </commands>

        <pipelines>
            <getContentEditorWarnings>
                <!-- processor type="SharedSource.Projects.Pipelines.DisplayProjectContentEditorWarning,SharedSource.Projects" patch:before="processor[@type='Sitecore.Pipelines.GetContentEditorWarnings.RunRules, Sitecore.Kernel']" /  -->
            </getContentEditorWarnings>
        </pipelines>
    </sitecore>
</configuration>